.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: white;
    font-size: 1.5rem;
  }
  
  .header-logo {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .guest-user {
    font-size: .8rem;
    color: white;
    opacity: 0.7;
   
  }
  
  .button-group {
    display: flex;
    margin-left: 20px;
  }
  
  .course-button {
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .course-button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .course-button.active {
    background-color: #007bff;
    color: white;
  }
  